.users {
    display: flex;
    margin: 25px;
}
.user {
    margin: 5px;
}

.msgBox {
    margin-top: 25px;
    margin-left: 25px;
    border: 5px solid black;
}

.msg {
    margin: 5px;
    margin-right: 25px;
    display: flex;
}

